:root {
    --background: #12131E;
    --left: 20%;
    --width: 60%;
    --heigh: 40px;
    --font: 20px;
    --background1: #43A4B6;
    --padding: 0px 10px;
}

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    background-color: var(--background);
}

header {
    font-size: var(--font);
    background-color: var(--background1);
    border: var(--background1) solid 3px;
    border-radius: 7px;
}

h1  {
    display: flex;
    justify-content: center;
    align-items: center;
}

.about1 h2{
  
  background-color: black;
  font-size: 30px;
  width: 70%;
  font-weight: bolder;
  color: white;
  position: absolute;
  top: 150px;
  left: 15%;
  border: black solid 2px;
  border-radius: 14px
  
}

.name h2{
  background-color: #FFFFFF;
  font-size: 50px;
  font-family: 'Times New Roman', Times, serif;
  font-weight: bolder;
  color: black;
  position: absolute;
  top: 280px;
  left: 33%;
  border: black solid 2px;
  border-radius: 14px;
}

.back {
  background-color: var(--background1);
  position: absolute;
  left: var(--left);
  margin-top: 330px;
  direction: rtl;
  font-size: var(--font);
  width: var(--width);
  height: var(--heigh);
  border: var(--background1) solid 3px;
  border-radius: 5px;
  padding: var(--padding);
  display: flex;
  justify-content: center;
  align-items: center;
}

.back a {
  text-decoration: none;
  color: black;
}



.logout {
  background-color: var(--background1);
  position: absolute;
  left: var(--left);
  margin-top: 390px;
  direction: rtl;
  font-size: var(--font);
  width: var(--width);
  height: var(--heigh);
  border: var(--background1) solid 3px;
  border-radius: 5px;
  padding: var(--padding);
  display: flex;
  justify-content: center;
  align-items: center;
}

.logout a {
  text-decoration: none;
  color: white;
}