                        /* :root {
                           --background: #12131E;
                           --left: 20%;
                           --width: 60%;
                           --heigh: 40px;
                           --font: 15px;
                           --background1: #43A4B6;
                           --padding: 0px 10px;
                         }

                         * {
                           box-sizing: border-box;
                           margin: 0;
                         }

                         body {
                           background-color: var(--background);
                           position: relative;
                         }

                         .back {
                           position: absolute;
                           left: 30%;
                           margin-top: 10px;
                         }

                         img {
                           width: 4rem;
                         }

                         h1 {
                           font-family: 'Times New Roman', Times, serif;
                           font-weight: bold;
                           color: var(--background1);
                         }

                         .web {
                           position: absolute;
                           left: 50%;
                           margin-top: 10px;
                         }

                         .name input {
                           position: absolute;
                           left: var(--left);
                           margin-top: 40px;
                           direction: ltr;
                           font-size: var(--font);
                           width: var(--width);
                           height: var(--heigh);
                           
                           border-radius: 5px;
                           padding: var(--padding);
                           display: flex;
                           justify-content: center;
                           align-items: center;
                         }

                         .pass input {
                           position: absolute;
                           left: var(--left);
                           margin-top: 70px;
                           direction: ltr;
                           font-size: var(--font);
                           width: var(--width);
                           height: var(--heigh);
                          
                           border-radius: 5px;
                           padding: var(--padding);
                         }

                         .submit {
                           background-color: var(--background1);
                           position: absolute;
                           left: var(--left);
                           margin-top: 100px;
                           direction: rtl;
                           font-size: var(--font);
                           width: var(--width);
                           height: var(--heigh);
                           border: var(--background1) solid 3px;
                           border-radius: 5px;
                           padding: var(--padding);
                           display: flex;
                           align-items: center;
                           justify-content: center;
                         }


                         :hover.submit {
                           opacity: .5;
                         }

                         .link {
                           background-color: var(--background1);
                           position: absolute;
                           left: var(--left);
                           margin-top: 130px;
                           direction: rtl;
                           font-size: var(--font);
                           width: var(--width);
                           height: var(--heigh);
                           border: var(--background1) solid 3px;
                           border-radius: 5px;
                           padding: var(--padding);
                           display: flex;
                           justify-content: center;
                           align-items: center;
                         }

                         :hover.link {
                           opacity: .5;
                         }

                         .new {
                           background-color: var(--background1);
                           position: absolute;
                           left: var(--left);
                           margin-top: 160px;
                           direction: rtl;
                           font-size: var(--font);
                           width: var(--width);
                           height: var(--heigh);
                           border: var(--background1) solid 3px;
                           border-radius: 5px;
                           padding: var(--padding);
                           display: flex;
                           justify-content: center;
                           align-items: center;
                         }

                         :hover.new {
                           opacity: .5;
                         }

                         @media (min-width: 400px) and (max-width: 600px) {
                           :root {
                             --background: #12131E;
                             --left: 25%;
                             --width: 50%;
                             --heigh: 40px;
                             --font: 20px;
                             --background1: #43A4B6;
                             --padding: 0px 10px;
                           }

                           .back {
                             position: absolute;
                             left: 35%;
                             margin-top: 10px;
                           }

                           img {
                             width: 4rem;
                           }
                         }

                         @media (min-width: 601px) and (max-width: 800px) {
                           :root {
                             --background: #12131E;
                             --left: 30%;
                             --width: 40%;
                             --heigh: 40px;
                             --font: 20px;
                             --background1: #43A4B6;
                             --padding: 0px 10px;
                           }

                           .back {
                             position: absolute;
                             left: 40%;
                             margin-top: 10px;
                           }

                           img {
                             width: 4rem;
                           }
                         }

                         @media (min-width: 801px) and (max-width: 1000px) {
                           :root {
                             --background: #12131E;
                             --left: 35%;
                             --width: 40%;
                             --heigh: 40px;
                             --font: 20px;
                             --background1: #43A4B6;
                             --padding: 0px 10px;
                           }

                           .back {
                             position: absolute;
                             left: 45%;
                             margin-top: 10px;
                           }

                           img {
                             width: 4rem;
                           }

                           .web {
                             position: absolute;
                             left: 55%;
                             margin-top: 10px;
                           }
                         }

                         @media (min-width: 1001px) and (max-width: 1200px) {
                           :root {
                             --background: #12131E;
                             --left: 40%;
                             --width: 30%;
                             --heigh: 40px;
                             --font: 20px;
                             --background1: #43A4B6;
                             --padding: 0px 10px;
                           }

                           .back {
                             position: absolute;
                             left: 50%;
                             margin-top: 10px;
                           }

                           img {
                             width: 4rem;
                           }

                           .web {
                             position: absolute;
                             left: 58%;
                             margin-top: 10px;
                           }
                         }

                         @media (min-width: 1201px) and (max-width: 1400px) {
                           :root {
                             --background: #12131E;
                             --left: 35%;
                             --width: 30%;
                             --heigh: 40px;
                             --font: 20px;
                             --background1: #43A4B6;
                             --padding: 0px 10px;
                           }

                           .back {
                             position: absolute;
                             left: 45%;
                             margin-top: 10px;
                           }

                           img {
                             width: 4rem;
                           }

                           .web {
                             position: absolute;
                             left: 50%;
                             margin-top: 10px;
                           }
                         }