:root {
    --background: #12131E;
    --left: 20%;
    --width: 60%;
    --heigh: 40px;
    --font: 20px;
    --background1: #43A4B6;
    --padding: 0px 10px;
}

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    background-color: var(--background);
}

header {
    font-size: var(--font);
    background-color: var(--background1);
    border: var(--background1) solid 3px;
    border-radius: 7px;
}

h2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.firstname input {
    position: absolute;
    left: var(--left);
    margin-top: 30px;
    direction: rtl;
    font-size: var(--font);
    width: var(--width);
    height: var(--heigh);
    border: var(--background1) solid 3px;
    border-radius: 5px;
    padding: var(--padding);
    display: flex;
    justify-content: center;
    align-items: center;
}

.lastname input {
    position: absolute;
    left: var(--left);
    margin-top: 90px;
    direction: rtl;
    font-size: var(--font);
    width: var(--width);
    height: var(--heigh);
    border: var(--background1) solid 3px;
    border-radius: 5px;
    padding: var(--padding);
    color: black;
}

.next {
    background-color: var(--background1);
    position: absolute;
    left: var(--left);
    margin-top: 150px;
    direction: rtl;
    font-size: var(--font);
    width: var(--width);
    height: var(--heigh);
    border: var(--background1) solid 3px;
    border-radius: 5px;
    padding: var(--padding);
    display: flex;
    justify-content: center;
    align-items: center;
}

.next a {
  
}

.back {
    background-color: var(--background1);
    position: absolute;
    left: var(--left);
    margin-top: 210px;
    direction: rtl;
    font-size: var(--font);
    width: var(--width);
    height: var(--heigh);
    border: var(--background1) solid 3px;
    border-radius: 5px;
    padding: var(--padding);
    display: flex;
    justify-content: center;
    align-items: center;
}

.back a {
    text-decoration: none;
    color: white;
}

@media (min-width: 400px) and (max-width: 600px) {
     :root {
        --background: #12131E;
        --left: 25%;
        --width: 50%;
        --heigh: 40px;
        --font: 20px;
        --background1: #43A4B6;
        --padding: 0px 10px;
    }
}

@media (min-width: 601px) and (max-width: 800px) {
     :root {
        --background: #12131E;
        --left: 30%;
        --width: 40%;
        --heigh: 40px;
        --font: 20px;
        --background1: #43A4B6;
        --padding: 0px 10px;
    }
}

@media (min-width: 801px) and (max-width: 1000px) {
     :root {
        --background: #12131E;
        --left: 35%;
        --width: 40%;
        --heigh: 40px;
        --font: 20px;
        --background1: #43A4B6;
        --padding: 0px 10px;
    }
}

@media (min-width: 1001px) and (max-width: 1200px) {
     :root {
        --background: #12131E;
        --left: 40%;
        --width: 30%;
        --heigh: 40px;
        --font: 20px;
        --background1: #43A4B6;
        --padding: 0px 10px;
    }
}

@media (min-width: 1201px) and (max-width: 1400px) {
     :root {
        --background: #12131E;
        --left: 35%;
        --width: 30%;
        --heigh: 40px;
        --font: 20px;
        --background1: #43A4B6;
        --padding: 0px 10px;
    }
}